<h1>Listing diagnostics</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diagnostics.each do |diagnostic| %>
  <tr>
    <td><%= diagnostic.code %></td>
    <td><%= diagnostic.description %></td>
    <td><%= diagnostic.price %></td>
    <td><%= link_to 'Show', diagnostic %></td>
    <td><%= link_to 'Edit', edit_diagnostic_path(diagnostic) %></td>
    <td><%= link_to 'Destroy', diagnostic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diagnostic', new_diagnostic_path %>
