<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @diagnostic.code %>
</p>

<p>
  <b>Description:</b>
  <%= @diagnostic.description %>
</p>

<p>
  <b>Price:</b>
  <%= @diagnostic.price %>
</p>


<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
