<p id="notice"><%= notice %></p>

<p>
  <b>Diag code:</b>
  <%= @invoice.diag_code %>
</p>

<p>
  <b>Appoint:</b>
  <%= @invoice.appoint_id %>
</p>

<p>
  <b>Admin:</b>
  <%= @invoice.admin_id %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
