<%= form_for(@doctors_office) do |f| %>
  <% if @doctors_office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctors_office.errors.count, "error") %> prohibited this doctors_office from being saved:</h2>

      <ul>
      <% @doctors_office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :officetitle %><br />
    <%= f.text_field :officetitle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
