<h1>Listing doctors_offices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Office Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors_offices.each do |doctors_office| %>
  <tr>
    <td><%= doctors_office.name %></td>
    <td><%= doctors_office.officetitle %></td>
    <td><%= link_to 'Show', doctors_office %></td>
    <td><%= link_to 'Edit', edit_doctors_office_path(doctors_office) %></td>
    <td><%= link_to 'Destroy', doctors_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doctors office', new_doctors_office_path %>
