<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doctors_office.name %>
</p>

<p>
  <b>Officetitle:</b>
  <%= @doctors_office.officetitle %>
</p>


<%= link_to 'Edit', edit_doctors_office_path(@doctors_office) %> |
<%= link_to 'Back', doctors_offices_path %>
