<h1>Listing physicians</h1>

<table>
  <tr>
    <th>Physician</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @physicians.each do |physician| %>
  <tr>
    <td><%= physician.id %></td>
    <td><%= physician.lastname %></td>
    <td><%= physician.firstname %></td>
    <td><%= link_to 'Show', physician %></td>
    <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
    <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Physician', new_physician_path %>
