<p id="notice"><%= notice %></p>

<p>
  <b>Physician:</b>
  <%= @physician.id %>
</p>

<p>
  <b>Lastname:</b>
  <%= @physician.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%= @physician.firstname %>
</p>


<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
