<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
  <%= f.label :lastname %><br />
  <%= f.text_field :lastname %>
</div>
    <div class="field">
      <%= f.label :problem %><br />
      <%= f.text_field :problem %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
