<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @patient.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @patient.lastname %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
