<h1>Home Page</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>




 <br>
  <tr><a href="http://localhost:3000/appointments">Appointments</a></tr>

  <br>

<br>  <tr><a href="http://localhost:3000/physicians">Physicians</a></tr><br>

  <br> <tr><a href="http://localhost:3000/invoices">Invoices</a></tr> <br>

  <br> <tr><a href="http://localhost:3000/patients">Patients</a></tr> <br>
 <br> <tr><a href="http://localhost:3000/diagnostics">Diagnostics</a></tr> <br>
  <br>
  <tr><a href="http://localhost:3000/admins">Admin Page</a></tr>
<br>


<br />


