<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment %><br />
    <%= f.datetime_select :appointment %>
  </div>
  <div class="field">
    <%= f.label :person %><br />
    <%= f.collection_select :person ,Patient.all, :id, :id%>
  </div>
  <div class="field">
    <%= f.label :doctor %><br />
    <%= f.collection_select :person ,Physician.all, :id, :id%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
