<p id="notice"><%= notice %></p>

<p>
  <b>Appointment:</b>
  <%= @appointment.appointment %>
</p>

<p>
  <b>Patient:</b>
  <%= @appointment.patient_id %>
</p>

<p>
  <b>Physician:</b>
  <%= @appointment.physician_id %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
